# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
frontend/dist/
frontend/node_modules/

# Docker volumes
pgdata/
miniodata/

# OS
.DS_Store
Thumbs.db
